# Dependencies
node_modules/

# Environment variables
.env
.env.*.local

# Logs
*.log
logs/

# System files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.suo
*.njsproj
*.sln
*.sw?

# Vercel build outputs
.vercel/
